<ion-view title="" hide-back-button="true">
    <ion-content class="padding background-red text-center" scroll="true">
        <div class="text-center font-xx-large margin-20 bold uppercase">Zbyt wielu polaków umiera na serce</div>
        <div class="inline cursor-pointer margin-20 background-white full-rounded normal-line-height" style="padding-right: 23px; padding-left: 23px; padding-top: 23px; padding-bottom: 20px;" ng-click="click()"><!--
            --><img src="img/svg/heart.svg" style="width: 192px;"/><!--
        --></div>

        <div class="text-center" ng-click="click()">kliknij by pomóc</div>
    </ion-content>
</ion-view>