<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Polskie Serce</title>
        <link href="lib/ionic/css/ionic.css" rel="stylesheet">

        <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above-->
        <link href="css/ionic.app.css" rel="stylesheet">

        <link href="css/style.css" rel="stylesheet">

        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="lib/i18n/angular-locale_pl-pl.js"></script>

        <!-- Firebase -->
        <script src="lib/firebase/firebase.js"></script>
        <!-- AngularFire -->
        <script src="lib/angularfire/angularfire.min.js"></script>

        <script src="lib/angular-uuid/uuid.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>

        <!-- serce app's js -->
        <script src="js/serce.js"></script>
        <script src="js/controller.js"></script>

    </head>
    <body ng-app="serce">

        <ion-side-menus enable-menu-with-back-views="true">

            <ion-side-menu-content>
                <!-- Main content, usually <ion-nav-view> -->
                <ion-nav-bar class="background-red" >
                    <ion-nav-buttons side="right">
                        <!-- Toggle right side menu -->
                        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
                    </ion-nav-buttons>
                </ion-nav-bar>

                <ion-nav-view name="menuContent"></ion-nav-view>

            </ion-side-menu-content>

            <!-- Left menu -->
            <ion-side-menu side="right">
                <ion-content class="background-red">
                    <ion-list>
                        <ion-item class="background-red" menu-close href="#/home">

                        </ion-item>
                        <ion-item class="background-red" menu-close href="#/statistics">
                            <span style="max-height: 100%; text-align: left;">
                                Statystyki<br>
                                {{statistics.week | number}} w tygodniu<br>
                                {{statistics.month | number}} w miesiącu
                            </span>
                        </ion-item>
                        <ion-item class="background-red" menu-close href="#/help">Pomóż nam</ion-item>
                        <ion-item class="background-red" menu-close href="#/alert">
                            <span ng-if="!config.alert">Ustaw przypomnienie</span>
                            <span ng-if="config.alert">Przypomnienie o {{config.alert | date: format: shortTime}}</span>
                        </ion-item>
                        <ion-item class="background-red" menu-close href="#/contact">Kontakt</ion-item>
                        <ion-item class="background-red" menu-close href="#/about">O nas</ion-item>
                    </ion-list>
                </ion-content>
            </ion-side-menu>

        </ion-side-menus>

    </body>
</html>
