<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Polskie Serce</title>
        <link href="lib/ionic/css/ionic.css" rel="stylesheet">

        <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above-->
        <link href="css/ionic.app.css" rel="stylesheet">

        <link href="css/style.css" rel="stylesheet">

        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="lib/ionic/js/angular/i18n/angular-locale_pl-pl.js"></script>

        <!-- Firebase -->
        <script src="lib/ionic/js/firebase/firebase.js"></script>
        <!-- AngularFire -->
        <script src="lib/ionic/js/angularfire/angularfire.min.js"></script>

        <script src="lib/ionic/js/angular-uuid/uuid.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>

        <!-- serce app's js -->
        <script src="js/serce.js"></script>
        <script src="js/controller.js"></script>

    </head>
    <body ng-app="serce">

        <ion-side-menus enable-menu-with-back-views="true">

            <ion-side-menu-content>
                <!-- Main content, usually <ion-nav-view> -->
                <ion-nav-bar class="background-red" >
                    <ion-nav-buttons side="right">
                        <!-- Toggle right side menu -->
                        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
                    </ion-nav-buttons>
                </ion-nav-bar>

                <ion-nav-view class=""></ion-nav-view>

            </ion-side-menu-content>

            <!-- Left menu -->
            <ion-side-menu side="right">
                <ion-content class="background-red">
                    <ion-list>
                        <ion-item class="background-red" menu-close>
                            <a class="button button-clear" ui-sref="home"></a>
                        </ion-item>
                        <ion-item class="background-red" menu-close>
                            <a class="button button-clear" style="max-height: 100%; text-align: left;" ui-sref="statistics">
                                Statystyki<br>
                                {{statistics.week | number}} w tygodniu<br>
                                {{statistics.month | number}} w miesiącu
                            </a>
                        </ion-item>
                        <ion-item class="background-red" menu-close>
                            <a class="button button-clear" ui-sref="help">Pomóż nam</a>
                        </ion-item>
                        <ion-item class="background-red" menu-close href="#/app/browse">
                            <a ng-if="!alert" class="button button-clear" ui-sref="alert">Ustaw przypomnienie</a>
                            <a ng-if="alert" class="button button-clear" ui-sref="alert">Przypomnienie o {{alert | date: format: shortTime}}</a>
                        </ion-item>
                        <ion-item class="background-red" menu-close>
                            <a class="button button-clear" ui-sref="contact">Kontakt</a>
                        </ion-item>
                        <ion-item class="background-red" menu-close>
                            <a class="button button-clear" ui-sref="about">O nas</a>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-side-menu>

        </ion-side-menus>

    </body>
</html>
